@font-face {
    font-family: Optima;
    src: url(../assets/Optima-Regular.ttf);
  }

  @font-face {
    font-family: Abel;
    src: url(../assets/Abel-Regular.ttf);
  }
  
  body {
    margin: 0;
    background-image: url("../assets/signUpBG.png");
    background-size: cover;
    background-attachment: fixed;
    min-height: 90vh;
    max-height: 90vh;
  }

  #posts {
    padding-bottom: 10vh;
  }
  
  .skinConcern {
      background:rgb(255, 255, 255);
  }
  .skinConcern.highlight {
      background:rgb(206, 218, 226);
  }
  
  .skinType {
      background:rgb(255, 255, 255);
  }
  .skinType.highlight {
      background:rgb(206, 218, 226);
  }
  
  .skinProduct {
      background:rgb(255, 255, 255);
  }
  .skinProduct.highlight {
      background:rgb(206, 218, 226);
  }
  
  .post {
    background-color: rgba(255, 255, 255, 0.25);
    margin-top: 2vh;
    margin-left: 3vw;
    margin-right: 3vw;
    padding: 5vw;
    color: rgb(17, 49, 97);
    text-align:center;
    font-family: Optima, sans-serif;
    font-size: 300%;
    border-radius: 25px;
    max-height: 20vh;
  }

  .postPhoto {
    color: black;
  }

  #first{
    margin-top: 10vh;
  }
  
  button {
    appearance: none;
    background-color: #002343;
    border: 1px solid rgba(27, 31, 35, 0.15);
    border-radius: 20px;
    box-shadow: rgba(255, 255, 255, 0.04) 0 1px 0, rgba(255, 255, 255, 0.25) 0 1px 0 inset;
    box-sizing: border-box;
    color: #ffffff;
    cursor: pointer;
    display: inline-block;
    font-family: -apple-system, system-ui, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
    font-weight: 500;
    line-height: 20px;
    list-style: none;
    padding: 26px 60px;
    position: relative;
    transition: background-color 0.2s cubic-bezier(0.3, 0, 0.5, 1);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: middle;
    white-space: nowrap;
    word-wrap: break-word;
    font-family: Optima, sans-serif;
    font-size: 2vh;
    height: 2em;
  }
  
  button:hover {
    background-color: #020f28;
    text-decoration: none;
    transition-duration: 0.1s;
  }
  
  button:disabled {
    background-color: #FAFBFC;
    border-color: rgba(27, 31, 35, 0.15);
    color: #959DA5;
    cursor: default;
  }
  
  button:active {
    background-color: #021229;
    box-shadow: rgba(225, 228, 232, 0.2) 0 1px 0 inset;
    transition: none 0s;
  }
  
  button:focus {
    outline: 1px transparent;
  }
  
  button:before {
    display: none;
  }
  
  button:-webkit-details-marker {
    display: none;
  }
  
  input[type=button] {
      appearance: none;
      background-color: #ffffff;
      border: 1px solid rgba(27, 31, 35, 0.15);
      border-radius: 15px;
      box-shadow: rgba(255, 255, 255, 0.04) 0 1px 0, rgba(255, 255, 255, 0.25) 0 1px 0 inset;
      box-sizing: border-box;
      color: #002343;
      cursor: pointer;
      display: inline-block;
      font-size: 14px;
      font-weight: 500;
      line-height: 20px;
      list-style: none;
      padding: 6px 16px;
      position: relative;
      transition: background-color 0.2s cubic-bezier(0.3, 0, 0.5, 1);
      user-select: none;
      -webkit-user-select: none;
      touch-action: manipulation;
      vertical-align: middle;
      white-space: nowrap;
      word-wrap: break-word;  
      margin: 1vw;
      font-family: Optima, sans-serif;
      font-size: 2vh;
      height: 2em;
  }
  
  input[type=text], input[type=tel] {
    margin-top: 1em;
    height: 2em;
    width: 15em;
    border-radius: 15px;
    border-width: 0;
    box-shadow: 0px 1px #888888;
    font-size: 2vh;
    font-family: Abel, Verdana, Optima, sans-serif;
}
  
  input[type=date] {
    height: 2em;
    width: 10em;
    border-radius: 15px;
    border-width: 0;
    box-shadow: 0px 1px #888888;
    font-size: 2vh;
    font-family: Abel, Verdana, Optima, sans-serif;
}
  
  input[type=file] {
    height: 2em;
    width: 15em;
    border-width: 0;
    font-size: 2vh;
    margin-top: 1vh;
    font-family: Abel, Verdana, Optima, sans-serif;
}
  
  .logo {
    margin-top: 2vh;
    margin-left: 3vw;
    height: 5vh;
  }

  .logocontainer {
    background-color: #414D88;
    padding-bottom: 1vh;
    position: fixed;
    width: 100vw;
    z-index: 2;
    top: 0;
  }
  
  .navbar {
    background-color: #203768;
    display: flex;
    justify-content: space-between;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
  }
  
  .navbar img{
    height: 3vh;
    margin-top: 1vh;
    margin-bottom: 1vh;
    margin-left: 5vw;
    margin-right: 5vw;
  }