@font-face {
    font-family: Optima;
    src: url(../assets/Optima-Regular.ttf);
  }

  @font-face {
    font-family: Abel;
    src: url(../assets/Abel-Regular.ttf);
  }
  
  body {
    margin: 0;
    background-image: url("../assets/signUpBG.png");
    background-attachment: fixed;
    background-size: cover;
  }
  
  .skinConcern {
      background:rgb(255, 255, 255);
  }
  .skinConcern.highlight {
      background:rgb(206, 218, 226);
  }
  
  .skinType {
      background:rgb(255, 255, 255);
  }
  .skinType.highlight {
      background:rgb(206, 218, 226);
  }
  
  .skinProduct {
      background:rgb(255, 255, 255);
  }
  .skinProduct.highlight {
      background:rgb(206, 218, 226);
  }
  
  .mobile {
      background-color: #2C356B;
      padding-top: 5vw;
      /*padding-top: 50vh;*/
      color: white;
      text-align:center;
      font-family: Abel, Verdana, Optima, sans-serif;
      font-size: 300%;
      overflow: visible;
      border-top-left-radius: 70vw 10vw;
      border-top-right-radius: 60vw 10vw;
      position: relative;
      margin-bottom: 18vw;
      height: 90vw;
    }

    .profileContainer {
        background-image: url("../assets/chelseaBanner.png");
        background-size: 100%;
        background-position: top;
        background-attachment: fixed;
        height: 15vh;
        padding-top: 20vh;
        z-index: -1;
    }

    .profilePicture {
        position: absolute;
        top: -6vh;
        left: 35vw;
        width: 25vw;
        border: 3vw solid;
        border-radius: 25vw;
        border-color: #2C356B;
        z-index: 0;
    }

    #profileNickname{
        position: relative;
        z-index: 1;
        margin: 0;
        margin-top: 7vw;
        font-family: Abel, Verdana, Optima, sans-serif;
    }
  
    #quizResults {
      font-size: 300% !important;
      background-color: transparent;
      text-align: center;
      font-family: Abel, sans-serif, Optima;
      color: white;
      padding-bottom: 7vh;
    }
  
  button {
    appearance: none;
    background-color: #002343;
    border: 1px solid rgba(27, 31, 35, 0.15);
    border-radius: 20px;
    box-shadow: rgba(255, 255, 255, 0.04) 0 1px 0, rgba(255, 255, 255, 0.25) 0 1px 0 inset;
    box-sizing: border-box;
    color: #ffffff;
    cursor: pointer;
    display: inline-block;
    font-family: -apple-system, system-ui, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
    font-weight: 500;
    line-height: 20px;
    list-style: none;
    padding: 26px 60px;
    position: relative;
    transition: background-color 0.2s cubic-bezier(0.3, 0, 0.5, 1);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: middle;
    white-space: nowrap;
    word-wrap: break-word;
    font-family: Optima, sans-serif;
    font-size: 2vh;
    height: 2em;
  }
  
  button:hover {
    background-color: #020f28;
    text-decoration: none;
    transition-duration: 0.1s;
  }
  
  button:disabled {
    background-color: #FAFBFC;
    border-color: rgba(27, 31, 35, 0.15);
    color: #959DA5;
    cursor: default;
  }
  
  button:active {
    background-color: #021229;
    box-shadow: rgba(225, 228, 232, 0.2) 0 1px 0 inset;
    transition: none 0s;
  }
  
  button:focus {
    outline: 1px transparent;
  }
  
  button:before {
    display: none;
  }
  
  button:-webkit-details-marker {
    display: none;
  }
  
  input[type=button] {
      appearance: none;
      background-color: #ffffff;
      border: 1px solid rgba(27, 31, 35, 0.15);
      border-radius: 15px;
      box-shadow: rgba(255, 255, 255, 0.04) 0 1px 0, rgba(255, 255, 255, 0.25) 0 1px 0 inset;
      box-sizing: border-box;
      color: #002343;
      cursor: pointer;
      display: inline-block;
      font-size: 14px;
      font-weight: 500;
      line-height: 20px;
      list-style: none;
      padding: 6px 16px;
      position: relative;
      transition: background-color 0.2s cubic-bezier(0.3, 0, 0.5, 1);
      user-select: none;
      -webkit-user-select: none;
      touch-action: manipulation;
      vertical-align: middle;
      white-space: nowrap;
      word-wrap: break-word;  
      margin: 1vw;
      font-family: Optima, sans-serif;
      font-size: 2vh;
      height: 2em;
  }
  
  input[type=text], input[type=tel] {
    margin-top: 1em;
    height: 2em;
    width: 15em;
    border-radius: 15px;
    border-width: 0;
    box-shadow: 0px 1px #888888;
    font-size: 2vh;
    font-family: Abel, Verdana, Optima, sans-serif;
}
  
  input[type=date] {
    height: 2em;
    width: 10em;
    border-radius: 15px;
    border-width: 0;
    box-shadow: 0px 1px #888888;
    font-size: 2vh;
    font-family: Abel, Verdana, Optima, sans-serif;
}
  
  input[type=file] {
    height: 2em;
    width: 15em;
    border-width: 0;
    font-size: 2vh;
    margin-top: 1vh;
    font-family: Abel, Verdana, Optima, sans-serif;
}
  
  .logo {
    margin-top: 2vh;
    margin-left: 3vw;
    height: 5vh;
  }

  .logocontainer {
    background-color: #414D88;
    padding-bottom: 1vh;
    position: fixed;
    width: 100vw;
    z-index: 2;
  }
  
  .navbar {
    background-color: #203768;
    display: flex;
    justify-content: space-between;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
  }
  
  .navbar img{
    height: 3vh;
    margin-top: 1vh;
    margin-bottom: 1vh;
    margin-left: 5vw;
    margin-right: 5vw;
  }

  .container {
    margin: 2vw;
    /* padding-top: 3vh;
    padding-bottom: 8vh; */
  }
  
  .grid {
    display: grid;
    grid-template-columns: repeat(3, 20vw);
    grid-template-rows: repeat(1, 15vw);
    grid-gap: 1.5vw;
    justify-content: center;
  }
  
  .cell {
     /* center the cell content */
    border-radius: 20px;
    justify-content: center;
    align-items: start;
    display: flex;
    font-family: Abel, sans-serif, Optima;
    font-size: 2vh;
    background: transparent;
  }

  .heroProducts {
    background-image: url("../assets/profileHeroProducts.png");
    background-size: contain;
    width: 90vw;
    height: calc(0.33434959349 * 90vw);
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .heroProduct {
    height: calc(0.33434959349 * 60vw);
    margin: 3vw;
    margin-top: calc(0.33434959349 * 22vw);;
  }

  .blind {
    text-align: center;
    font-size: 3vh;
    color: rgb(203, 203, 203);
    font-family: Abel, sans-serif, Optima;
    background-image: url("../assets/blind.png");
    background-size: contain;
    width: 100vw;
    height: calc(0.17279412 * 100vw);
    position: relative;
    bottom: 0;
    margin-bottom: 8vh;
  }

  .calendarContainer {
    margin: 2vw;
    margin-left: 1vw;
    padding-top: 1vh;
  }
  
  .calendarGrid {
    display: grid;
    grid-template-columns: repeat(7, 10vw);
    grid-template-rows: repeat(6, 10vw);
    grid-gap: 1.5vw;
    justify-content: space-evenly;
  }
  
  .calendarCell {
     /* center the cell content */
     border-radius: 20px;
    justify-content: center;
    align-items: center;
    display: flex;
    font-family: Abel, sans-serif, Optima;
    font-size: 3rem;
    background: transparent;
    color: white;
  }

#cal1 {
  background-image: url('../assets/calendar/1.png');
  background-repeat: no-repeat;
  background-position: center;
}
#cal2 {
  background-image: url('../assets/calendar/2.png');
  background-repeat: no-repeat;
  background-position: center;
}
#cal3 {
  background-image: url('../assets/calendar/3.png');
  background-repeat: no-repeat;
  background-position: center;
}
#cal4 {
  background-image: url('../assets/calendar/4.png');
  background-repeat: no-repeat;
  background-position: center;
}
#cal5 {
  background-image: url('../assets/calendar/5.png');
  background-repeat: no-repeat;
  background-position: center;
}
#cal6 {
  background-image: url('../assets/calendar/6.png');
  background-repeat: no-repeat;
  background-position: center;
}
#cal7 {
  background-image: url('../assets/calendar/7.png');
  background-repeat: no-repeat;
  background-position: center;
}

.routineContainer {
  margin: 3vw;
  margin-top: 6vw;
  margin-bottom: 0;
  max-width: 95vw;
  /* padding-top: 3vh;
  padding-bottom: 8vh; */
}

.routineGrid {
  display: grid;
  grid-template-columns: repeat(5, 15vw);
  grid-template-rows: repeat(1, 15vw);
  grid-gap: 1.5vw;
  justify-content: space-evenly;
}

.routineCell {
   /* center the cell content */
  border-radius: 20px;
  justify-content: center;
  align-items: start;
  display: flex;
  font-family: Abel, sans-serif, Optima;
  font-size: 2vh;
  background: white;
  z-index: 1;
}

.routineCell img {
  object-fit: cover;
  width: 15vw;
  height: 15vw;
  border-radius: 20px;
}

.overlay {
  z-index: 3;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
}
.overlay:target {
  visibility: visible;
  opacity: 1;
}

.popup {
  padding: 6vw;
  padding-top: 4vh;
  padding-bottom: 6vh;
  background: #a8bfd8;
  border-radius: 20px;
  width: 85vw;
  display: block;
  margin: auto;
  transition: all 5s ease-in-out;

  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.popup h2 {
  margin-top: 0;
  color: #333;
  font-family: Optima, sans-serif, Abel;
}

.popup .close {
  background-color: #183977;
  transition: all 200ms;
  font-size: 100%;
  font-weight: bold;
  text-decoration: none;
  color: #FFF;
  border-radius: 25px;
  padding: 2vw;
  position: relative;
  left: 30vw;
}
.popup .close:hover {
  color: #414D88;
}
.popup .content {
  color: black;
  overflow: visible;
}

.close2{
  background-color: #183977;
  transition: all 200ms;
  font-weight: bold;
  text-decoration: none;
  color: #FFF;
  border-radius: 25px;
  padding: 2vw;
  position: relative;
  margin: 2vh;
  left: 60vw;
  top: 2vh;
  font-family: Abel, Verdana, Optima, sans-serif;
  font-size: 300%;
}

.prodNum {
  background-color: #2C356B;
  border-radius: 100%;
  padding-left: 1vh;
  padding-right: 1vh;
  color: #fff;
  margin: 0;
  /* display: inline; */
  display: none;
}

.prodType {
  margin: 0;
  display: inline;
  padding-left: 1vw;
}

.prodName {
  margin: 0;
  font-size: 60%;
}

.productsContainer {
  width: 85vw;
}


.productsGrid {
  display: grid;
  grid-template-columns: repeat(3, 25vw);
  grid-template-rows: repeat(3, 20vh);
  grid-gap: 1.5vw;
  justify-content: space-evenly;
}

.productsCell {
   /* center the cell content */
  border-radius: 20px;
  justify-content: center;
  align-items: start;
  font-family: Abel, sans-serif, Optima;
  font-size: 2vh;
  background: transparent;
  z-index: 1;
}

.productsCell img {
  width: 11vh;
  height: 11vh;
  border-radius: 20px;
  background-color: white;
}

.calPost {
  color: white !important;
  text-decoration: none;
}

.postImgFull {
  width: 85vw;
  object-fit: cover;
}