@font-face {
    font-family: Optima;
    src: url(../assets/Optima-Regular.ttf);
  }

  @font-face {
    font-family: Abel;
    src: url(../assets/Abel-Regular.ttf);
  }
  
  body {
    margin: 0;
    background-image: url("../assets/signUpBG.png");
    background-attachment: fixed;
    background-size: cover;
  }
  
  .skinConcern {
      background:rgb(255, 255, 255);
  }
  .skinConcern.highlight {
      background:rgb(206, 218, 226);
  }
  
  .skinType {
      background:rgb(255, 255, 255);
  }
  .skinType.highlight {
      background:rgb(206, 218, 226);
  }
  
  .skinProduct {
      background:rgb(255, 255, 255);
  }
  .skinProduct.highlight {
      background:rgb(206, 218, 226);
  }
  
  .mobile {
      background-color: #2C356B;
      padding-top: 5vw;
      /*padding-top: 50vh;*/
      color: white;
      text-align:center;
      font-family: Abel, Verdana, Optima, sans-serif;
      font-size: 300%;
      max-height: 90vh;
      overflow: visible;
      border-top-left-radius: 70vw 10vw;
      border-top-right-radius: 60vw 10vw;
      position: relative;
      margin-bottom: 12vw;

    }

    .profileContainer {
        background-image: url("../assets/chelseaBanner.png");
        background-size: 100%;
        background-position: top;
        background-attachment: fixed;
        height: 15vh;
        padding-top: 20vh;
        z-index: -1;
    }

    .profilePicture {
        position: absolute;
        top: -6vh;
        left: 35vw;
        width: 25vw;
        border: 3vw solid;
        border-radius: 25vw;
        border-color: #2C356B;
        z-index: 0;
    }

    #profileNickname{
        position: relative;
        z-index: 1;
        margin: 0;
        margin-top: 7vw;
        font-family: Abel, Verdana, Optima, sans-serif;
    }
  
    #quizResults {
      background-color: #203768;
      text-align: center;
      font-family: Abel, sans-serif, Optima;
      color: white;
      font-size: 80% !important;
      padding-top: 4vh;
      /* padding-bottom: 10vh */
    }
  
  button {
    appearance: none;
    background-color: #002343;
    border: 1px solid rgba(27, 31, 35, 0.15);
    border-radius: 20px;
    box-shadow: rgba(255, 255, 255, 0.04) 0 1px 0, rgba(255, 255, 255, 0.25) 0 1px 0 inset;
    box-sizing: border-box;
    color: #ffffff;
    cursor: pointer;
    display: inline-block;
    font-family: -apple-system, system-ui, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
    font-weight: 500;
    line-height: 20px;
    list-style: none;
    padding: 26px 60px;
    position: relative;
    transition: background-color 0.2s cubic-bezier(0.3, 0, 0.5, 1);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: middle;
    white-space: nowrap;
    word-wrap: break-word;
    font-family: Optima, sans-serif;
    font-size: 2vh;
    height: 2em;
  }
  
  button:hover {
    background-color: #020f28;
    text-decoration: none;
    transition-duration: 0.1s;
  }
  
  button:disabled {
    background-color: #FAFBFC;
    border-color: rgba(27, 31, 35, 0.15);
    color: #959DA5;
    cursor: default;
  }
  
  button:active {
    background-color: #021229;
    box-shadow: rgba(225, 228, 232, 0.2) 0 1px 0 inset;
    transition: none 0s;
  }
  
  button:focus {
    outline: 1px transparent;
  }
  
  button:before {
    display: none;
  }
  
  button:-webkit-details-marker {
    display: none;
  }
  
  input[type=button] {
      appearance: none;
      background-color: #ffffff;
      border: 1px solid rgba(27, 31, 35, 0.15);
      border-radius: 15px;
      box-shadow: rgba(255, 255, 255, 0.04) 0 1px 0, rgba(255, 255, 255, 0.25) 0 1px 0 inset;
      box-sizing: border-box;
      color: #002343;
      cursor: pointer;
      display: inline-block;
      font-size: 14px;
      font-weight: 500;
      line-height: 20px;
      list-style: none;
      padding: 6px 16px;
      position: relative;
      transition: background-color 0.2s cubic-bezier(0.3, 0, 0.5, 1);
      user-select: none;
      -webkit-user-select: none;
      touch-action: manipulation;
      vertical-align: middle;
      white-space: nowrap;
      word-wrap: break-word;  
      margin: 1vw;
      font-family: Optima, sans-serif;
      font-size: 2vh;
      height: 2em;
  }
  
  input[type=text], input[type=tel] {
    margin-top: 1em;
    height: 2em;
    width: 15em;
    border-radius: 15px;
    border-width: 0;
    box-shadow: 0px 1px #888888;
    font-size: 2vh;
    font-family: Abel, Verdana, Optima, sans-serif;
}
  
  input[type=date] {
    height: 2em;
    width: 10em;
    border-radius: 15px;
    border-width: 0;
    box-shadow: 0px 1px #888888;
    font-size: 2vh;
    font-family: Abel, Verdana, Optima, sans-serif;
}
  
  input[type=file] {
    height: 2em;
    width: 15em;
    border-width: 0;
    font-size: 2vh;
    margin-top: 1vh;
    font-family: Abel, Verdana, Optima, sans-serif;
}
  
  .logo {
    margin-top: 2vh;
    margin-left: 3vw;
    height: 5vh;
  }

  .logocontainer {
    background-color: #414D88;
    padding-bottom: 1vh;
    position: fixed;
    width: 100vw;
    z-index: 2;
  }
  
  .navbar {
    background-color: #203768;
    display: flex;
    justify-content: space-between;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
  }
  
  .navbar img{
    height: 3vh;
    margin-top: 1vh;
    margin-bottom: 1vh;
    margin-left: 5vw;
    margin-right: 5vw;
  }

  .container {
    margin: 2vw;
    /* padding-top: 3vh;
    padding-bottom: 8vh; */
  }
  
  .grid {
    display: grid;
    grid-template-columns: repeat(3, 20vw);
    grid-template-rows: repeat(1, 15vw);
    grid-gap: 1.5vw;
    justify-content: center;
  }
  
  .cell {
     /* center the cell content */
    border-radius: 20px;
    justify-content: center;
    align-items: start;
    display: flex;
    font-family: Abel, sans-serif, Optima;
    font-size: 2vh;
    background: transparent;
  }

  .heroProducts {
    background-image: url("../assets/profileHeroProducts.png");
    background-size: contain;
    width: 90vw;
    height: calc(0.33434959349 * 90vw);
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .heroProduct {
    height: calc(0.33434959349 * 60vw);
    margin: 3vw;
    margin-top: calc(0.33434959349 * 22vw);;
  }

  .blind {
    text-align: center;
    font-size: 3vh;
    color: rgb(203, 203, 203);
    font-family: Abel, sans-serif, Optima;
    background-image: url("../assets/blind.png");
    background-size: contain;
    width: 100vw;
    height: calc(0.17279412 * 100vw);
    position: relative;
    bottom: 0vh;
    margin-bottom: 6vh;
  }


  .calendarContainer {
    margin: 2vw;
    margin-left: 1vw;
    padding-top: 1vh;
    margin-bottom: 10vh;
  }
  
  .calendarGrid {
    display: grid;
    grid-template-columns: repeat(7, 10vw);
    grid-template-rows: repeat(6, 10vw);
    grid-gap: 1.5vw;
    justify-content: space-evenly;
  }
  
  .calendarCell {
     /* center the cell content */
     border-radius: 20px;
    justify-content: center;
    align-items: center;
    display: flex;
    font-family: Abel, sans-serif, Optima;
    font-size: 3rem;
    background: transparent;
    color: white;
  }

  .calendarCell img {
    object-fit: cover;
    width: 10vw;
    height: 10vw;
    border-radius: 20px;
  }
